@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-turquoise: #3ee9e5;
  --color-blue: #093f68;
  --color-gray: #777f98;
  --color-white: #ffffff;
  --color-black: #080c20;
  --color-red: #ff2965;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Manrope', sans-serif;
  background: var(--color-black);
  color: var(--color-white);
}

/* header */
.header {
  display: flex;
  justify-content: center;
  margin: 4rem 0 5.6rem 0;
}
